<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Anime Snack</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
            <a href="../index.html" class="navbar-brand">Anime Snack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="../tournament.html" class="nav-link">Tournament</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Theories</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Rankings</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Main Content-->
    <section class="title">
        <div class="container col-lg-7 col-10">
            <h2 class="blog-title">One Punch Man Episode 10 Review – Boros Has Arrived!</h2>
            <p class="author">Vegito - December 6, 2015</p>
            <div class="blog-image">
                <img class="card-img-top py-3" src="../resources/images/blog-images/onepunch-e10.png" alt="">
            </div>
            <div class="blog-body">
                <p>I haven’t read the manga of OPM, but I can already tell this isn’t going to be your average fight for Saitama! MadHouse, you better make this fight awesome! </p>
                <p>
                    Meanwhile, we see barley a glimp of Tornado’s power, which is pretty impressive, if I may say, but her attitude is some next level cringe. I can already smell the shipping of Saitama and her.</p>
                <p>
                    Meanwhile, Silverfang invited Saitama and Genos to his dojo, so they could learn new things to have even more power, who were disappointed since it was only defensive moves. While that is happening, some dude tells all the S-class heroes to arrive, since
                    there’s an immediate danger.</p>
                <p>
                    His face is not the same with that stale ass expression he puts up most of the time.</p>
                <p>
                    Dickhead doesn’t accept Saitama’s handshake, saying he only accepts the strong, if only you knew from his stale ass expression, just how strong he is. On a side note, is 37 not middle aged? This dude is clearly in denial. </p>
                <p>
                    I already smell the ship.
                </p>
                <p>Meanwhile, all the S-class heroes including Saitama are invited in a emergency meeting, with everyone badmouthing Saitama in the process, since he only wanted some tea. A man named Stitch, tells them who bad the situation is, and to give
                    them news that some old psychic lady died of a cough drop. He gives out a letter saying that Earth is in trouble, scaring everyone except 2 midgets.</p>
                <p>
                    While Stitch was rambling, Saitama makes a suggestion, with Stitch being confused to how Saitama even got here. That expression says it all. Nobody appreciates greatness.
                </p>
                <p>
                    While that goes on, an alien ship has arrived, from you know who, and destroys a City A in less than 10 seconds, ranking the threat as “God” level.
                </p>
                <p>
                    Middle aged dudes assistant saves a family, while fighting a 5 headed opponent, which is later saved by the middle aged dude himself, losing an arm in the process.
                </p>
                <p>
                    Saitama isn’t having none of that shit, kicking missiles like its a cake walk, and enters the ships base to look for the boss, while fighting in opponents.
                </p>
                <p>
                    Meanwhile, on the ground floor, that monster with 4 heads transforms even bigger, with 3 other s-classes fighting it, including Puri Puri prisoner, who doesn’t want to lose like last time, whilst, doing a Sailor Moon transformation called “Dark Angel”.
                </p>
                <p>
                    KIIIIIIINGGGGGGGGGGGGGGGGGGGGGG, He’s going to be very important in the story, I can tell.
                </p>
                <p>
                    Genos wants to team up and take down the ship as well with Tornado, but is denied, giving that stale ass look that we have never seen from Genos until now.
                </p>
                <p>
                    There he is, Boros, one of the most hypest fights I heard from people reading the Manga.
                </p>
                <p>
                    Rating: 8/10 Nothing really happened, but the animation was still smooth af, and Boros arriving was icing on the cake.
                </p>
            </div>
        </div>
    </section>

    <!--Comments-->
    <section id="comment-app">
        <div class="container col-lg-7 col-10">
            <div class="comment-container">
                <h3>Comments</h3>
                <div class="comment-row">
                    <div class="comment-col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div>
                        <!--End Comment-->
                    </div>
                    <!--End col -->
                </div>
                <!-- End row -->
                <div class="comment-row">
                    <div class="comment-col-6">
                        <textarea type="text" class="input" placeholder="Write a comment (it wont save though)" v-model="newItem" @keyup.enter="addItem()"></textarea>
                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                    </div>
                    <!-- End col -->
                </div>
                <!--End Row -->
            </div>
            <!--End Container -->
        </div>
    </section>
    <!-- end App -->

    <!--Footer-->
    <footer class="mt-5 p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p>
                Copyright &copy; 2021 Anime Snack
            </p>
            <a href="# " class="position-absolute bottom-0 end-0 p-5 ">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {

            $(".primaryContained").on('click', function() {
                $(".comment").addClass("commentClicked");
            }); //end click
            $("textarea").on('keyup.enter', function() {
                $(".comment").addClass("commentClicked");
            }); //end keyup
        }); //End Function

        new Vue({
            el: "#comment-app",
            data: {
                title: 'Add a comment',
                newItem: '',
                item: [],
            },
            methods: {
                addItem() {
                    this.item.push(this.newItem);
                    this.newItem = "";
                }
            }

        });
    </script>
</body>