<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Anime Snack</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="../resources/images/animesnack.png" alt="" width="40" height="40"> Anime Snack
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="../tournament.html" class="nav-link">Tournament</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Theories</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Rankings</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Main Content-->
    <section class="title">
        <div class="container col-lg-7 col-10">
            <h2 class="blog-title">4th Poneglyph & Robin Kidnapped Theory (One Piece Chapter 818 Discussion)!</h2>
            <p class="author">Nara Clan - March 5, 2016</p>
            <div class="blog-image">
                <img class="card-img-top py-3" src="../resources/images/blog-images/robin-kidnapped-theory.png" alt="">
            </div>
            <div class="blog-body">
                <p>Oh Boy! What a chapter we had this week. Possible the first clue to the One Piece we have ever gotten. Four poneglyphs scattered around the new world which will create an x that will mark the spot for the greatest treasure in anime history
                    to be honest.</p>
                <p>
                    First I want to mention that the only person currently alive that can read the poneglyphs is Nico Robin, as far as we know. Pekoms from Big Mom’s crew has made it very obvious that the Yonko’s have access to immense amounts of information, and if they
                    find out about Nico Robin’s abilities, it will make the Straw Hats their main targets. On the other hand we also have people who can hear the voice of all things. Momonoske being theorized as one might hint to the notion that these
                    people aren’t as rare as we had previously thought. One must acquire either Nico Robin or a person who can hear the voice of all things if they ever want to make use of the Road poneglyphs.
                </p>
                <p>
                    It was said in the last chapter that Kaido and Big Mom had two of the four stone tablets. I don’t have any ideas on how Big Mom would be able to make use of hers but we know that Kaido has already made a visit to the Wano kingdom, where another person
                    with the ability of reading poneglyphs previously lived; Momonoske Dad, Lord Oden. The reason Kaido probably went to Wano would probably be for that reason. But we were told that Lord Oden died last chapter. I actually believe he is
                    alive, however severely wounded. This is probably why Jack was so desperate in looking for Raizo because I think that Raizo might actually be a sort of doctor that heals miraculously with his ninjutsu. This might or not be true but
                    it is a fact that Kaido’s crew need some way of reading the poneglyphs, and killing off the only person who could read it for them seems inconvenient and we also don’t have a solid reason for them to be looking for Raizo either.
                </p>
                <p>
                    Now let’s talk about the last poneglyph. People are speculating that it might be with Shanks, Dragon, Marines, Blackbeard, and basically any influential person in the series. I think it is actually guaranteed that it is with the marines. Because you also
                    have to think about who really wants to find the One Piece? Shanks probably already knows where it is considering he was a part of Rogers crew and perhaps a valuable member considering Roger passed on his hat to him – Shanks doesn’t
                    need the Road poneglyphs to find raftel and in truth he has never shown any desire for the One Piece anyway. The Whitebeard pirates definitely don’t have it, Whitebeard never wanted to find the One Piece either. Same with the revolutionaries,
                    people who have other problems to deal with than go looking for a may or may not exist treasure on some island, they aren’t even pirates. And last Blackbeard, who joined the game way too early to get his hand on one of the four most
                    important pieces of information in the One Piece universe. Which leaves out the world government and the marines, who by the way would absolutely love to find the One Piece before any pirate and slow down the pirate era. The Road poneglyph
                    might also be the sacred treasure at Mariejois that Dofflamingo was talking about.
                </p>
                <p>
                    So currently Luffy has the most crucial person of the One Piece universe, Nico Robin, in his pirate crew. This is definitely going to be leading us to another save Robin arc especially with the sentimental little part we got with Robin in this week’s
                    chapter. But the possible kidnappers are endless. It could be some random pirates, the marines, CP0 (again), Kaido, Big Mom, etc etc. And then we also have Luffy wanting to barge into Big Mom’s base to rescue Sanji, which is also complicating
                    things currently. If Robin gets taken before Luffy gets Sanji back then we are going to have some real mayhem.
                </p>
                <p>
                    Tell me what you guys thinks in the comments of this post below, is One Piece ending soon? Because it just seems to be getting more and more extended every chapter. #GODA
                </p>
            </div>
        </div>
    </section>

    <!--Comments-->
    <section id="comment-app">
        <div class="container col-lg-7 col-10">
            <div class="comment-container">
                <h3>Comments</h3>
                <div class="comment-row">
                    <div class="comment-col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div>
                        <!--End Comment-->
                    </div>
                    <!--End col -->
                </div>
                <!-- End row -->
                <div class="comment-row">
                    <div class="comment-col-6">
                        <textarea type="text" class="input" placeholder="Write a comment (it wont save though)" v-model="newItem" @keyup.enter="addItem()"></textarea>
                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                    </div>
                    <!-- End col -->
                </div>
                <!--End Row -->
            </div>
            <!--End Container -->
        </div>
    </section>
    <!-- end App -->

    <!--Footer-->
    <footer class="mt-5 p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p>
                Copyright &copy; 2021 Anime Snack
            </p>
            <a href="# " class="position-absolute bottom-0 end-0 p-5 ">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script>
        $(document).ready(function() {

            $(".primaryContained").on('click', function() {
                $(".comment").addClass("commentClicked");
            }); //end click
            $("textarea").on('keyup.enter', function() {
                $(".comment").addClass("commentClicked");
            }); //end keyup
        }); //End Function

        new Vue({
            el: "#comment-app",
            data: {
                title: 'Add a comment',
                newItem: '',
                item: [],
            },
            methods: {
                addItem() {
                    this.item.push(this.newItem);
                    this.newItem = "";
                }
            }

        });
    </script>
</body>